.container{
    margin: 0px 200px;

}
.header_line{
    display: flex;
    padding-top: 70px;
    justify-content: end;
}
.header_line_item{
    position: relative;
    margin-right: 30px;
    font-family: 'Oswald';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
color: white;
letter-spacing: 1.94px;
}
.HLI{
    
    text-decoration: none;
    color: white;
    transition: color 0.5s linear;  
}
.HLI:hover{
border-bottom: 3px solid #4CAF50;
    }
.header_line_item:before{
    position: absolute;
    left: 0;
    top: 21px ;
    content: "";
    background-color: #4CAF50;
    width: 18px;
height: 2px;
}
.header_title,
.header_subtext{
    text-align: center;
}
.header_title{
    margin-top: 200px;
    font-family: 'Oswald';
font-style: normal;
font-weight: 500;
font-size: 32px;
color: white;
line-height: 0.5;
margin-bottom: 20px;
}
.header_subtext{
    font-family: 'OpenSans';
font-size: 20px;
line-height: 23px;
color: white;
letter-spacing: 1.28px;
mix-blend-mode: normal;
opacity: 0.8;   
}
.header{
    background-image: url(background_header.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    /* width: 1800px;
    height: 904px; */
}
.header_numbers{
    color: white;
    font-family: 'Oswald';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 27px;
display: flex;
text-align: center;
justify-content: center;
align-items: flex-end;
margin-top: 155px;
}
.header_number{
    padding-right: 9px;
    font-family: 'Oswald';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 27px;
letter-spacing: 1.152px;
color: rgba(255, 255, 255, 0.437245);
transition: 0.5s linear;
}
.header_number:hover{
    color: white;
    font-size: 28px ; 
}
.we_are_sqwd_topic{
    margin-top: 1px;
    position: relative;
    padding-bottom: 450px;
}
.w_a_s_title{
    padding-top: 180px;
    z-index: 999;
    font-family: 'Oswald';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 53px;
letter-spacing: 2.304px;
}
.w_a_s_title2{
    z-index: 999;
    font-family: 'OpenSans';
font-size: 42px;
line-height: 49px;
letter-spacing: 2.688px;
}

.w_a_s_subtitle{
    position: relative;
    padding-left: 40px;
    padding-top: 30px;
    font-family: 'OpenSans';
font-size: 15px;
line-height: 25px;
text-align: center;
letter-spacing: 1.26px;
color: #5B5858;
width: 281px;
height: 75px;
z-index: 999;
}
.w_a_s_subtitle:before{
    position: absolute;
    content: "";
    left: 21px;
    top: 65px;
    width: 20px;
    height: 2px;
    background-color: black;
}
.w_a_s_subtitle2{
    position: absolute;
    top: 400px;
    left: 1000px;
    font-family: 'OpenSans';
    font-size: 15px;
    line-height: 25px;
    align-items: center;
    letter-spacing: 1.26px;
    text-align: center;
    color: #5B5858;
    width: 281px;
    height: 75px;
    z-index: 999;
}
.w_a_s_subtitle2:before{
    position: absolute;
    content: "";
    left: -24px;
    top: 37px;
    width: 20px;
    height: 2px;
    background-color: black;
}
.W_A_S_IMG{
    position: absolute;
    top: 100px;
    left: 342px;
    z-index: -2;
}
.W_A_S_IMG2{
    position: absolute;
    top: 160px;
    left: 542px;
    z-index: -3;
}
.W_A_S_IMG3{
    position: absolute;
    top: 220px;
    left: 742px;
    z-index: -4;
}
.Our_servies{
padding-bottom: 10px;
}
.O_s_title{
    position: relative;
    font-family: 'Oswald';
font-style: normal;
font-weight: 700;
font-size: 38px;
line-height: 71px;
letter-spacing: 3.072px;
color: #252525;
padding-bottom: 90px;
}
.O_s_title:before{
    position: absolute;
    top: 66px;
    left: 0;
    content: "";
    background-color: black;
    width: 45px;
height: 2px;
}
.O_s_cards{
    display: flex;
    /* margin-bottom: 136px; */
}
.O_s_card{
    width: 370;
    height: 260px;
    /* background-color: rgb(245, 245, 245); */
    position: relative;
    margin-right: 20px;
}
.O_s_card:hover {
    background-color: rgb(245, 245, 245);
    width: 370;
    height: 260px;
    border-bottom: 2px solid #4CAF50;
    margin-bottom: -2px;
}
/* .O_s_card_title:hover{
    font-size: 40px;

} */
.OS_img1,
.OS_img2,
.OS_img3{
    position: absolute;
    top: 29px;
    left: 230px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.O_s_card_title{
    font-family: 'Oswald';
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 30px;
padding: 40px;
}
.O_s_card_text{
    padding: 0px 40px;
    font-family: 'OpenSans';
    font-size: 12px;
    line-height: 25px;
    letter-spacing: 1.008px;
    padding-bottom: 20px;
}
.O_s_card_redme_btn{
    padding: 0px 40px;
    padding-bottom: 30px;
    font-family: 'OpenSans';
    font-size: 12px;
    line-height: 25px;
    letter-spacing: 1.008px;
}
.Latest_work{
    margin-top: 236px;
}
.L_W_title{
    position: relative;
    font-family: 'Oswald';
font-style: normal;
font-weight: 700;
font-size: 38px;
line-height: 71px;
letter-spacing: 3.072px;
color: #252525;
margin-bottom: 30px;
}
.L_W_title:before{
    position: absolute;
    top: 66px;
    left: 0;
    content: "";
    background-color: black;
    width: 45px;
height: 2px;
}
.L_W_Line{
    display: flex;
}
.L_W_Line_item{
    padding-right: 20px;
}
.L_W_Line_item_hyp{
    text-decoration: none;
    font-family: 'OpenSans';
font-size: 13px;
line-height: 15px;
color: #5B5858;
transition: 0.5s linear;
}
.L_W_Line_item_hyp:hover{
    color: black;
    font-size: 15px;
}
.L_W_Product_cards{
}
.L_W_card_content1,
.L_W_card_content3{
display: flex;
justify-content: flex-end;
position: relative;
}
.L_W_card_content2,
.L_W_card_content4{
display: flex;
justify-content: flex-start;
position: relative;
}
                                            /*1*/
.L_W_image1{
    z-index: -9;
    position: absolute;
    left: 500px;
    top: -200px;
}
.L_W_card_title1{
    position: absolute;
    left: 424px;
    top: 56px;
    
    font-family: 'Oswald';
font-style: normal;
font-weight: 300;
font-size: 48px;
line-height: 71px;
display: flex;
align-items: flex-end;
letter-spacing: 3.072px;
color: #252525;
}
.L_W_card_subtitle1{
    position: absolute;
    left: 688px;
    top: 248px;

    font-family: 'OpenSans';
font-size: 18px;
line-height: 21px;
display: flex;
align-items: flex-end;
text-align: right;
letter-spacing: 1.152px;
color: #252525;
}
.L_W_card_text1{
    position: absolute;
    left: 457px;
    top: 267px;

    width: 336px;
height: 46px;
font-family: 'OpenSans';
font-size: 13px;
line-height: 23px;
display: flex;
align-items: center;
text-align: right;
letter-spacing: 0.832px;
color: #C2C2C2;
}
                                                /*2*/
.L_W_image2{
    z-index: -9;
    position: absolute;
    left: 0px;
    top: 243px;
}
.L_W_card_title2{
    position: absolute;
    left: 254px;
    top: 556px;
    
    font-family: 'Oswald';
font-style: normal;
font-weight: 300;
font-size: 48px;
line-height: 71px;
display: flex;
align-items: flex-end;
letter-spacing: 3.072px;
color: #252525;
}
.L_W_card_subtitle2{
    position: absolute;
    left: 183px;
    top: 690px;
    font-family: 'OpenSans';
font-size: 18px;
line-height: 21px;
display: flex;
align-items: flex-end;
text-align: right;
letter-spacing: 1.152px;
color: #252525;
}
.L_W_card_text2{
    position: absolute;
    left: 183px;
    top: 710px;
    width: 276px;
height: 46px;
    font-family: 'OpenSans';
    font-size: 13px;
    line-height: 23px;
    display: flex;
    align-items: center;
    letter-spacing: 0.832px;
    color: #C2C2C2;
}
                                                    /*3*/
.L_W_image3{
    z-index: -9;
    position: absolute;
    left: 500px;
    top: 700px;
}
.L_W_card_title3{
    position: absolute;
    left: 424px;
    top: 936px;
    
    font-family: 'Oswald';
font-style: normal;
font-weight: 300;
font-size: 48px;
line-height: 71px;
display: flex;
align-items: flex-end;
letter-spacing: 3.072px;
color: #252525;
}
.L_W_card_subtitle3{
    position: absolute;
    left: 688px;
    top: 1146px;

    font-family: 'OpenSans';
font-size: 18px;
line-height: 21px;
display: flex;
align-items: flex-end;
text-align: right;
letter-spacing: 1.152px;
color: #252525;
}
.L_W_card_text3{
    position: absolute;
    left: 457px;
    top: 1167px;

    width: 336px;
height: 46px;
font-family: 'OpenSans';
font-size: 13px;
line-height: 23px;
display: flex;
align-items: center;
text-align: right;
letter-spacing: 0.832px;
color: #C2C2C2;
}
                                            /*4*/
.L_W_image4{
    z-index: -9;
    position: absolute;
    left: 0px;
    top: 1148px;
}
.L_W_card_title4{
    position: absolute;
    left: 254px;
    top: 1388px;
    
    font-family: 'Oswald';
font-style: normal;
font-weight: 300;
font-size: 48px;
line-height: 71px;
display: flex;
align-items: flex-end;
letter-spacing: 3.072px;
color: #252525;
}
.L_W_card_subtitle4{
    position: absolute;
    left: 183px;
    top: 1593px;
    font-family: 'OpenSans';
font-size: 18px;
line-height: 21px;
display: flex;
align-items: flex-end;
text-align: right;
letter-spacing: 1.152px;
color: #252525;
}
.L_W_card_text4{
    position: absolute;
    left: 183px;
    top: 1612px;
    width: 276px;
height: 46px;
    font-family: 'OpenSans';
    font-size: 13px;
    line-height: 23px;
    display: flex;
    align-items: center;
    letter-spacing: 0.832px;
    color: #C2C2C2;
}
.THE_TEAM{
    margin-top: 1800px;
}
.The_team_title{
 position: relative;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 71px;
    letter-spacing: 3.072px;
    color: #252525;
    margin-bottom: 30px;
}

.The_team_title:before{
position: absolute;
top: 66px;
left: 0;
content: "";
background-color: black;
width: 45px;
height: 2px;
} 
.the_team_cards{
    display: flex;
    justify-content: space-evenly;
}
.the_team_card{
    position: relative;
    justify-content: center;
    text-align: center;
    transition: 0.8s linear;
}
.the_team_card:hover .T_T_CARD_hover{
display: block;
}
.T_T_I1,
.T_T_I2,
.T_T_I3
{
    width: 300px;
height: 328px;
}
.T_T_I2{
    filter: brightness(98%);
    filter: grayscale(100%);
}
.T_T_name1{
    position: absolute;
    top: 283px;
    left: 0px;
    font-family: 'Oswald';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 27px;
letter-spacing: 1.152px;
background-color: white;
mix-blend-mode: normal;
opacity: 0.5;
padding: 10px 111px;
}
.T_T_name2{
    position: absolute;
    top: 283px;
    left: 0px;
    font-family: 'Oswald';
font-style: normal;
font-weight: 300;
font-size: 11px;
line-height: 27px;
letter-spacing: 1.152px;
background-color: white;
mix-blend-mode: normal;
opacity: 0.5;
padding: 10px 107px;
}
.T_T_name3{
    position: absolute;
    top: 283px;
    left: 0px;
    font-family: 'Oswald';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 27px;
letter-spacing: 0.1px;
background-color: white;
mix-blend-mode: normal;
opacity: 0.5;
padding: 10px 116px;
}
.T_T_CARD_hover{
    position: absolute;
    width: 300px;
    height: 148px;
    background-color: white;
    left: 0;
    top: 181px;
    display:none
}
.the_team_card:hover .T_T_I1{
    filter: blur(5px);
}
.the_team_card:hover .T_T_I2{
    filter: blur(5px);
}
.the_team_card:hover .T_T_I3{
    filter: blur(5px);
}
.T_T_C_name{
    position: absolute;
    bottom: 90px;
    left: 96px;
    font-family: 'Oswald';
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 27px;
letter-spacing: 1.152px;
color: #252525;
}
.T_T_C_dolzhnost{
    position: absolute;
    bottom: 46px;
    left: 76px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 1.152px;
    color: #252525;
}
.T_T_C_text{
    position: absolute;
    bottom: 8px;
    left: 32px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 1.152px;
    color: #252525;
}
.form{
    margin-top: 200px;
    display: flex;
}
.form_1{
    width: 759px;
    height: 200px;
    text-align: center;
    justify-content: center;
    transition: 0.3s linear;
}
.form_2{
    width: 759px;
    height: 200px;
    text-align: center;
    justify-content: center;
    /* background-color: #979797; */
    transition: 0.3s linear;
}
.form_1:hover {
    
    background-color: #70BD59;
}
.form_1:hover 
.form_text1{
    color: white;
}
.form_1:hover 
.form_subtext1{
    color: white;
}
.form_2:hover {
    background-color: #70BD59;
}
.form_2:hover 
.form_text2{
    color: white;
}
.form_2:hover 
.form_subtext2{
    color: white;
}
.form_2:hover 
.form_img2{
    filter: brightness(100%);
}
.form_1:hover 
.form_img1{
    filter: brightness(3000%);
}
.form_image{
    padding-top: 40px;
}
.form_text1{
    padding-top: 10px;
    color: #373737;
    text-align: center;
    font-size: 24px;
    font-family: Oswald;
    letter-spacing: 2.667px;
}
.form_subtext1{
    padding-top: 22px;
    color: #373737;
text-align: center;
font-size: 14px;
font-family: OpenSans;
font-weight: 300;
letter-spacing: 1.556px;
}

.form_text2{
    padding-top: 16px;
    color: #373737;
text-align: center;
font-size: 24px;
font-family: Oswald;
letter-spacing: 2.667px;
}
.form_subtext2{
    padding-top: 22px;
    color: #373737;
    text-align: center;
    font-size: 14px;
    font-family: OpenSans;
    font-weight: 300;
    letter-spacing: 1.556px;
}
.footer{
    text-align: center;
    background-color: #2E2E2E;
}
.footer_text{
    padding-top: 100px;
    color: #FFF;
    font-size: 13px;
    font-family: Oswald;
    font-weight: 300;
    letter-spacing: 0.832px;
    opacity: 0.5;
}
.footer_subtext{
    padding-top: 10px;
    color: #FFF;
    font-size: 13px;
    font-family: Oswald;
    font-weight: 300;
    letter-spacing: 0.832px;
    opacity: 0.5;
}
.footer_images{
    display: flex;
    justify-content: center;
    gap: 21px;  
    padding: 39px   21px;
}
.under_footer{
    background-color: #252525;
}
.under_footer_text{
    text-align: center;
    padding: 20px   0px;
    color: #FFF;
font-size: 13px;
font-family: Oswald;
font-weight: 300;
letter-spacing: 0.832px;
opacity: 0.5;
}
.form_img2{
    filter: brightness(90%);
}
.form_img2{
    filter: brightness(10%);
}